# Data & generated results
Data/
Data/results/
outputs/
src/outputs/
src/mock_run/
src/model/models/
src/model/models_SimpleNN/
src/model/graphs/
src/model/graphs_SimpleNN/
src/model/plots/
src/model/complete_comparisons/

# Python cache
__pycache__/
*.py[cod]

# Big binaries (use LFS if you need them)
*.pt
*.pth
*.onnx
*.pdf
*.odt
.venv

# Doxygen documentation output
html/
latex/
